

.container {
    display: flex;
    align-items: center;
    justify-content: center;
 
    background: url("https://w1.rene-huber.eu/BK-THREAD.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5%;
  }
  
  .wrapper {
    background-color: #000000b4;
    padding: 55px 70px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    border-radius: 10px;
    border: 1px solid #555555;
  }
  

  .register  {
    background: rgb(41 41 41);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    
  }

  .emailLabel{margin-bottom: 10px;}

  .socialButton {
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialButton:first-child {
    background-color: #D44638;
  }
  
  .socialButton:nth-child(2) {
    background-color: rgb(41 41 41);
  }
  
  .socialButton:nth-child(3) {
    background-color: #087bea;
  }
  
  @media screen and (max-width: 768px) {
    .wrapper {
      padding: 50px 100px;
    }
  }
  @media screen and (max-width: 640px) {
    .wrapper {
      padding: 30px;
    }
  
    .socialButton{
      font-weight: 400;
      font-size: 14px;
    }
  }
  