.imageContainer {
    text-align: center;
    margin: auto;
    width: 500px;
    padding-top: 30px;
  }
.time{
    text-align: right;
}

.edit{
    float: right;
  right: 0;
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .postDescription{
    text-align: left;
    margin: 0 auto;
    width: 100%;
    background: #1d1d1d;
    border-radius: 11px;
    padding: 19px;
  }
  .postImage {
    margin: 3px auto  10px auto;
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 5px;
  }
  
  .textContainer {
width: 470px;
margin: 0 auto;
  }
  
  .userList, .views, .postDescription {
    margin-bottom: 10px;
    text-align: left; 
  }
  
  
  